<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- MAIN CONTROLLER -->
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <!-- LOGIN -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <!-- REGISTER -->
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <!-- LOGOUT -->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <!-- UPDATE PROFILE -->
    <servlet>
        <servlet-name>UpdateProfileController1</servlet-name>
        <servlet-class>controller.UpdateProfileController1</servlet-class>
    </servlet>
    <!-- SERVLET MAPPING -->
    <servlet>
        <servlet-name>AdminUserController</servlet-name>
        <servlet-class>controller.AdminUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestChangeEmailController</servlet-name>
        <servlet-class>controller.RequestChangeEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestChangePasswordController</servlet-name>
        <servlet-class>controller.RequestChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>controller.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyPasswordController</servlet-name>
        <servlet-class>controller.VerifyPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctorsAPI</servlet-name>
        <servlet-class>controller.GetDoctorsAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookingPageController</servlet-name>
        <servlet-class>controller.LoadBookingPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitBookingController</servlet-name>
        <servlet-class>controller.SubmitBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPatientDashboardController</servlet-name>
        <servlet-class>controller.LoadPatientDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test01</servlet-name>
        <servlet-class>controller.test01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMedicalHistoryController</servlet-name>
        <servlet-class>controller.LoadMedicalHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentController</servlet-name>
        <servlet-class>controller.CancelAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPaymentController</servlet-name>
        <servlet-class>controller.ConfirmPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SePayWebhookController</servlet-name>
        <servlet-class>controller.SePayWebhookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDoctorProfileController</servlet-name>
        <servlet-class>controller.LoadDoctorProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadGetAppointmentController</servlet-name>
        <servlet-class>dao.LoadGetAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptAppointmentController</servlet-name>
        <servlet-class>controller.AcceptAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteAppointmentController</servlet-name>
        <servlet-class>controller.CompleteAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadGetAppointmentController1</servlet-name>
        <servlet-class>controller.LoadGetAppointmentController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController1</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <!-- SESSION -->
    <servlet-mapping>
        <servlet-name>AdminUserController</servlet-name>
        <url-pattern>/AdminUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestChangeEmailController</servlet-name>
        <url-pattern>/RequestChangeEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestChangePasswordController</servlet-name>
        <url-pattern>/RequestChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/VerifyEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyPasswordController</servlet-name>
        <url-pattern>/VerifyPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctorsAPI</servlet-name>
        <url-pattern>/GetDoctorsAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookingPageController</servlet-name>
        <url-pattern>/LoadBookingPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitBookingController</servlet-name>
        <url-pattern>/SubmitBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPatientDashboardController</servlet-name>
        <url-pattern>/LoadPatientDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test01</servlet-name>
        <url-pattern>/test01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMedicalHistoryController</servlet-name>
        <url-pattern>/LoadMedicalHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentController</servlet-name>
        <url-pattern>/CancelAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPaymentController</servlet-name>
        <url-pattern>/ConfirmPaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SePayWebhookController</servlet-name>
        <url-pattern>/SePayWebhookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDoctorProfileController</servlet-name>
        <url-pattern>/LoadDoctorProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadGetAppointmentController</servlet-name>
        <url-pattern>/LoadGetAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptAppointmentController</servlet-name>
        <url-pattern>/AcceptAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteAppointmentController</servlet-name>
        <url-pattern>/CompleteAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadGetAppointmentController1</servlet-name>
        <url-pattern>/LoadGetAppointmentController1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- HOME PAGE -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
